@import url(./CSS/navbar.css);
@import url(./CSS/mainPage.css);
@import url(./CSS/footer.css);
@import url(./CSS/produtos.css);
@import url(./CSS/carrinho.css);
@import url(CSS/formulario.css);

* {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

